.tag-button{
    color: black;
    padding: 5px;
   &.active{
        color: red;
        padding: 5px;
    }
}

#canvas {
    max-height: 420px;
    width: auto;
}
.edit-name-in-card{
    font-style: italic;
    font-size: 10px;
    margin: 10px;
}
.title-card-foto{
    font-size: 10px;
    font-weight: bold;
    margin: 5px;
}
.fotografo-card-foto{
    font-size: 10px;
}