button{
    cursor: pointer!important;
    &span{
        cursor: pointer!important;
    }
}
.tag-button{
    color: black;
    padding: 5px;
   &.active{
        color: red;
        padding: 5px;
    }
}

#canvas {
    max-height: 420px;
    width: auto;
}
.edit-name-in-card{
    font-style: italic;
    font-size: 10px;
    margin: 10px;
}
.title-card-foto{
    font-size: 10px;
    font-weight: bold;
    margin: 5px;
    &.active{
        color: black!important;
    }
}
.fotografo-card-foto{
    font-size: 10px;
}
#Check-{
    background-color: rgba(0, 128, 0, 0.1498)!important;
    color: white;
    &.active{
        background-color: rgba(0, 128, 0, 1)!important;
    }
}
#Help-{
    background-color: rgba(255, 255, 0, 0.16)!important;
    color: white;
    &.active{
        background-color: rgba(255, 255, 0, 1)!important;
    }
}
#Cancel-{
    background-color: rgba(255, 0, 0, 0.1414)!important;
    color: white;
    &.active{
        background-color: rgba(255, 0, 0, 1)!important;
    }
}
#Check-a{
    background-color: rgba(0, 128, 0, 1)!important;
    color: white;
    svg{
        fill: white;
    }
}
#Help-a{
    background-color: rgba(255, 255, 0, 1)!important;
    svg{
        fill: black;
    }
}
#Cancel-a{
    background-color: rgba(255, 0, 0, 1)!important;
    color: white;
    svg{
        fill: white;
    }
    
}
canvas{
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
//overwrite
.spectrum-ActionButton--emphasized_e2d99e.spectrum-ActionButton--quiet_e2d99e.is-selected_e2d99e, .spectrum-ActionButton--emphasized_e2d99e.is-selected_e2d99e{
    color: black!important;
}
.spectrum-ActionButton--emphasized_e2d99e.spectrum-ActionButton--quiet_e2d99e.is-selected_e2d99e .spectrum-Icon_e2d99e, .spectrum-ActionButton--emphasized_e2d99e.is-selected_e2d99e .spectrum-Icon_e2d99e{
    color: black!important;
}
.spectrum-Button_e2d99e[data-style=fill]{
    color: black!important;
}
.button-cornice{
    cursor: pointer;
}